{% extends "basic.html" %}
{% block style %}{% endblock style %}
{% block body %}
<h1 class="text-center fw-bold">Cart Items</h1>
<div class="container-fluid">
<!-- <form action="" method="post">{% csrf_token %} -->
    {% if crt %}
    {% for m in crt %}
    <div class="row justify-content-center border shadow m-3">
        <div class="col-4">
            <h3 class="fw-bold">{{m.name}}</h3>
            <p>{{m.description}}</p>
        </div>
        <div class="col-2 fw-bold">
            <form action="" method="post">{% csrf_token %}
                <input type="hidden" name="deleteid" id="" value="{{m.id}}">
                <input type="hidden" name="hidden" id="" value="hidden">
                <button type="submit" class="btn btn-danger w-100">Remove</button>
            </form>
                Quantity:<input type="number" name="Quantity" id="" required>
            </div>
        </div>
        {% endfor %}
        <form action="" method="post">{% csrf_token %}
        
            <button type="submit" class="btn btn-primary m-2 w-100">Order</button>
        </form>
    {% else %}
      <span class="text-danger">No product yet!</span>
    {% endif %}
    

</div>
{% endblock body %}